<#--
/*
 ************************************************************************************
 * Copyright (C) 2018 Openbravo S.L.U.
 * Licensed under the Openbravo Commercial License version 1.0
 * You may obtain a copy of the License at http://www.openbravo.com/legal/obcl.html
 * or in the legal folder of this module distribution.
 ************************************************************************************
 */


-->
<?xml version="1.0" encoding="utf-8"?>
<WP_PLU03>
	<IDOC BEGIN="1">
		<EDI_DC40 SEGMENT="1">
			<TABNAM>EDI_DC40</TABNAM>
			<MANDT>100</MANDT>
			<DOCNUM>0000000000199063</DOCNUM>
			<DOCREL>750</DOCREL>
			<STATUS>30</STATUS>
			<DIRECT>1</DIRECT>
			<OUTMOD>2</OUTMOD>
			<IDOCTYP>WP_PLU03</IDOCTYP>
			<MESTYP>WP_PLU</MESTYP>
			<SNDPOR>SAPEED</SNDPOR>
			<SNDPRT>LS</SNDPRT>
			<SNDPRN>EEDCLNT100</SNDPRN>
			<RCVPOR>POS-OUT</RCVPOR>
			<RCVPRT>KU</RCVPRT>
			<RCVPRN>S001</RCVPRN>
			<CREDAT>20170823</CREDAT>
			<CRETIM>152427</CRETIM>
			<SERIAL>20170823152427</SERIAL>
		</EDI_DC40>
		<E1WPA01 SEGMENT="1">
			<FILIALE>${data.filiale}</FILIALE>
			<AENDKENNZ>${data.active}</AENDKENNZ>
			<AKTIVDATUM>${data.activationDate}</AKTIVDATUM>
			<AENDDATUM>00000000</AENDDATUM>
			<HAUPTEAN>${data.productUpcEan}</HAUPTEAN>
			<ARTIKELNR>${data.value}</ARTIKELNR>
			<POSME>${data.uom}</POSME>
			<E1WPA02 SEGMENT="1">
				<WARENGR>${data.productCategory}</WARENGR>
				<VERPGEW>0</VERPGEW>
				<PRDRUCK>X</PRDRUCK>
				<ARTIKANZ>X</ARTIKANZ>
				<MHDRZ>0</MHDRZ>
				<MHDHB>0</MHDHB>
			</E1WPA02>
			<#list data.translations as trl>
			<E1WPA03 SEGMENT="1">
				<QUALARTTXT>${trl.code}</QUALARTTXT>
				<SPRASCODE>${trl.language}</SPRASCODE>
				<TEXT>${trl.text}</TEXT>
				<LFDNR>${trl.index}</LFDNR>
			</E1WPA03>
			</#list>
			<E1WPA04 SEGMENT="1">
				<KONDART>${data.priceListSapCode}</KONDART>
				<BEGINDATUM>${data.priceListVersionValidFrom}</BEGINDATUM>
				<BEGINNZEIT>0000</BEGINNZEIT>
				<ENDDATUM>99991231</ENDDATUM>
				<ENDZEIT>0000</ENDZEIT>
				<E1WPA05 SEGMENT="1">
					<VORZEICHEN>+</VORZEICHEN>
					<KONDWERT>${data.standardPrice}</KONDWERT>
					<MENGE>1</MENGE>
					<CURRENCY>${data.priceListCurrency}</CURRENCY>
				</E1WPA05>
			</E1WPA04>
			<E1WPA07 SEGMENT="1">
				<MWSKZ>${data.taxCategorySapCode}</MWSKZ>
			</E1WPA07>
		</E1WPA01>		
	</IDOC>
</WP_PLU03>
